<div class="row">
    <div class="col-md-7">
      <div class="row">
          <img style="height:500px ; display:block;margin:auto" class="image-fluid" src={{product.image}} alt="">
    
      </div>
      <div class="row">
          <button (click)="addToCart()" class="btn btn-primary col-md-6">AddToCart</button>
          <button class="btn btn-warning col-md-6">Buy Now</button>
          
      </div>
     
    </div>
    <div class="col-md-5">
      <label for="" class="row">{{product.name}}</label>
      <label for="" class="row">{{product.productid}}</label>  
      <label for="" class="row">{{product.price}}</label>
      <label for="" class="row">{{product.brand}}</label>
      <label for="" class="row">{{product.quantity}}</label>
      <label for="" class="row">{{product.seller}}</label>
      <label for="" class="row">{{product.ratings}}</label>
      <label for="" class="row">{{product.description}}</label>
      <label for="" class="row">{{product.reviews}}</label>  
    </div>
    </div>
    